@import "./layout" 
@import "./block"
@import "./vars"
@import "./author_box"
@import "./inline"

.caption p
    display: inline

.caption::before
    content: attr(beginning)

.caption
    text-align: center





