header {
  color: white;
  background-color: #0c549c;
  padding: 0.7rem;
  width: 100%;
}

body {
  margin: 0px;
  padding: 0px;
}

article {
  margin: auto;
  max-width: 45rem;
  padding: 10px;
  padding-bottom: 20rem;
}

.title {
  font-size: 2rem;
}

a {
  text-decoration: none;
  color: #0084d1;
}

a:visited {
  color: #0084d1;
}

h1 {
  margin: 1rem;
  text-align: center;
  font-size: 1.7rem;
}

h2 {
  margin: 1rem;
  text-align: center;
  font-size: 1.2rem;
}

h3, h4, h5, h6 {
  margin: 1rem;
  text-align: center;
}

figure, .box-quote, .remark-box, .content-table, .code-block, .abstract, .warning, .equation {
  margin: auto;
  border-radius: 0.3rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  padding: 0.6rem;
}

.equation {
  text-align: center;
  background-color: rgba(110, 110, 110, 0.1);
}

.warning {
  background-color: rgba(255, 0, 0, 0.7);
  text-align: center;
  color: white;
}
.warning::before {
  content: "Warning:";
}
.warning-inline {
  color: white;
  background-color: rgba(255, 0, 0, 0.7);
}

.abstract {
  background-color: rgba(110, 110, 110, 0.1);
  width: 85%;
  text-align: left;
}
.abstract p {
  margin: 0;
  margin-bottom: 0.2rem;
  hyphens: auto;
}
.abstract > :first-child::before {
  content: "Abstract: ";
  font-weight: bold;
}

.code-block {
  padding: 0.5rem;
  text-align: left;
  background-color: rgba(110, 110, 110, 0.1);
  font-size: 1rem;
}

.content-table {
  background-color: rgba(110, 110, 110, 0.1);
}
.content-table ul {
  margin: auto;
  list-style-type: none;
}

.remark-box {
  background-color: rgba(110, 110, 110, 0.1);
}
.remark-box::before {
  content: attr(name) " " attr(index);
  font-weight: bold;
}

.remark-title::before {
  content: "(";
}

.remark-title::after {
  content: ")";
}

.box-quote {
  border: 3px solid gray;
}

figure img {
  display: block;
  max-width: 100%;
  max-height: 25rem;
  margin: auto;
  border-radius: 0.3rem;
}

figure {
  border: 2px solid #00000027;
  border-radius: 0.3rem;
}

.author-entry {
  font-size: 1.1rem;
}

.affil-list p {
  margin-top: 0.1rem;
  margin-bottom: 0.1rem;
  font-size: 0.8rem;
}

.author-box {
  width: 80%;
  margin: auto;
  text-align: center;
}

.author-entry::before {
  content: ",";
}

.author-entry:last-child::before {
  content: "and ";
}

.author-entry:first-child::before {
  content: "";
}

.author-sup-link::after {
  content: ",";
}

.author-sup-link:last-child::after {
  content: "";
}

code, .warning-inline {
  border-radius: 0.3rem;
  padding: 0rem 0.4rem 0rem 0.4rem;
  margin-left: 0.1rem;
  margin-right: 0.1rem;
  font-size: 1rem;
}

.em2 {
  border-bottom: 1px solid #000;
}

.em3 {
  border: 1px solid #000000;
  padding: 1px;
}

.cite-links::before {
  content: "[";
}
.cite-links::after {
  content: "]";
}

code {
  background-color: rgba(110, 110, 110, 0.1);
}

.caption p {
  display: inline;
}

.caption::before {
  content: attr(beginning);
}

.caption {
  text-align: center;
}